@model CandidateSearch2ViewModel

<!--Begin search -->

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.CandidateCodeSearch)
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.CandidateCodeSearch, new { @class = "form-control" })
    </div>

     <div class="col-md-2">
        @Html.LabelFor(model => model.FullNameSearch)
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.FullNameSearch, new { @class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.IDNoSearch)
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.IDNoSearch, new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.ResultSearch)
    </div>
    <div class="col-md-4">
        @Html.DropDownList("ResultSearch", null, "-- " + Eagle.Resource.LanguageResource.Select + " --", new { @class = "form-control" })
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.GenderSearch)
    </div>
    <div class="col-md-4">
        @Html.DropDownList("GenderSearch", null, "-- " + Eagle.Resource.LanguageResource.Select + " --", new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.LSLocationSearchID)
    </div>
    <div class="col-md-4">
        @Html.TextBox("SelectLSLocationSearchID", null, new { @class = "col-md-12 autocomplete-select2" })
        @Html.HiddenFor(model => model.LSLocationSearchID)
        @Html.HiddenFor(model => model.LSLocationSearchName)
    </div>
</div>

<script>
    var strInputPosition = '@Html.Raw(Eagle.Resource.LanguageResource.PleaseInputWorkplace)';
    PopulateDropDownListAutoComplete("SelectLSLocationSearchID", "LSLocationSearchID", "LSLocationSearchName", strInputPosition, areas + '/LS_tblLocation/DropdownList');
</script>