@model IEnumerable<Eagle.Model.SYS.Content.ContentItemViewModel>
<div class="FilterArea">
    <div class="row">
        <div class="col-md-2">
            @Html.Label("ContentType", new { @class = "control-label" })
        </div>
        <div class="col-md-8">
            @Html.DropDownList("ContentType", null, new { @class = "col-md-12 form-control" })
        </div>
        <div class="col-md-2">
            <input type="button" id="btnSearch" value="@Eagle.Resource.LanguageResource.Search" class="btn btn-info btnSearch" />
        </div>
    </div>
</div>
<div class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>  
                <th>
                    @Html.DisplayNameFor(model => model.ContentKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>                     
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentKey)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td class="table-actions text_center center no-sort">
                        <a data-id="@item.ContentItemId" title="Edit" class="ico editItem ">&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.ContentItemId" title="Delete" class="ico deleteItem ">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
