@model IEnumerable<Eagle.Model.SYS.FileViewModel>
<div id="grid-list" class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>   
                <th>
                    @Html.DisplayNameFor(model => model.FileTitle)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.FileDescription)
                </th>                                   
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr id="@item.FileId">
                    <td>
                        @i
                    </td>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.FileTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileDescription)
                    </td>                              
                    <td class="table-actions text_center center no-sort">                       
                        <button type="button" data-id="@item.FileId" data-title="@item.FileTitle" id="btnDownloadFile" title="@Html.Raw(Eagle.Resource.LanguageResource.DownloadFile)" class="ico download">&nbsp;&nbsp;&nbsp;</button>
                        <button type="button" data-id="@item.FileId" data-title="@item.FileTitle" id="btnDeleteFile" title="@Html.Raw(Eagle.Resource.LanguageResource.Delete)" class="ico delete">&nbsp;&nbsp;&nbsp;</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="event_message"></div>
<div id="dialog-confirm" title="@Html.Raw(Eagle.Resource.LanguageResource.Delete)">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
        @Html.Raw(Eagle.Resource.LanguageResource.ConfirmDelete)
    </p>
</div>
