@model List<AnswerTypeViewModel>

<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center" style="width:5%">@Eagle.Resource.LanguageResource.No</th>
                <th  class="text_center" style="width:20%">
                    @Eagle.Resource.LanguageResource.AnswerTypeCode
                </th>
                <th class="text_center" style="width:40%">
                    @Eagle.Resource.LanguageResource.AnswerTypeName
                </th>
                <th class="text_center" style="width:15%">
                    @Eagle.Resource.LanguageResource.Used
                </th>
                 <th class="text_center" style="width:15%">
                    @Eagle.Resource.LanguageResource.Rank
                </th>                
                <th class="table-actions text_center no-sort" style="width:5%">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td class="text_center">
                        @i
                    </td>
                    <td>
                        @item.AnswerTypeCode
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td class="text_center">
                        @item.UsedInfo
                    </td>
                    <td>
                        @item.Rank
                    </td>                    
                    <td class="table-actions text_center no-sort">
                        <a data-id="@item.LSAnswerTypeID"  title="Edit" class="ico editItem " >&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.LSAnswerTypeID"  title="Delete" class="ico deleteItem ">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    InvokeDataTables();
</script>