@model WorkingExpectationViewModel

@Html.HiddenFor(model => model.ExpectationID)
<div class="tab-pane fade in" id="pane-4">
    <div class="group-control">
        <div>
            <h6>@Eagle.Resource.LanguageResource.PositionExpectation</h6>
        </div>
        <hr />

        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSPositionID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSPositionID", null, new { @class = "span12" })
                @Html.HiddenFor(model => model.LSPositionName)
                @Html.HiddenFor(model => model.LSPositionID)
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <!--end row-->
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSPositionID_Probation1)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSPositionID_Probation1", null, new { @class = "span12" })
                @Html.HiddenFor(model => model.LSPositionID_Probation1Name)
                @Html.HiddenFor(model => model.LSPositionID_Probation1)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSPositionID_Probation2)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSPositionID_Probation2", null, new { @class = "span12" })
                @Html.HiddenFor(model => model.LSPositionID_Probation2Name)
                @Html.HiddenFor(model => model.LSPositionID_Probation2)
            </div>

        </div>
        <!--end row-->
    </div>

    <div class="group-control">
        <div>
            <h6>@Eagle.Resource.LanguageResource.ExpectationSalary</h6>
        </div>
        <hr />

        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.ExpectationSalary)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.ExpectationSalary, new { @class = "span12" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSCurrencyID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSCurrencyID", null, new { @class = "span12" })
                @Html.HiddenFor(model => model.LSCurrencyName)
                @Html.HiddenFor(model => model.LSCurrencyID)
            </div>

        </div>
        <!--end row-->
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.MinSalary)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.MinSalary, new { @class = "span12" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.CurrentSalary)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.CurrentSalary, new { @class = "span12" })
            </div>
        </div>
        <!--end row-->
    </div>

    <div class="group-control">
        <div>
            <h6>@Eagle.Resource.LanguageResource.Other</h6>
        </div>
        <hr />

        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.WorkType)
            </div>
            <div class="col-md-4">
                @Html.DropDownList("WorkType", new SelectList(Repository.Library.GetWorkTypeList(),"Key","Value",Model.WorkType), new { @class = "span12" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSLocationID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSLocationID", null, new { @class = "span12" })
                @Html.HiddenFor(model => model.LSLocationName)
                @Html.HiddenFor(model => model.LSLocationID)
            </div>

        </div>
        <!--end row-->
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.OtherExpectation)
            </div>
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.OtherExpectation, new { @class = "span12" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.Note)
            </div>
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Note, new { @class = "span12" })
            </div>

        </div>
        <!--end row-->
    </div>
</div>
<script>
    /*Begin-Tab4 Expectation*/
    PopulateDropDownListAutoComplete("SelectLSPositionID", "LSPositionID", "LSPositionName", '@Html.Raw(Eagle.Resource.LanguageResource.PleaseInputPositionName)', areas + '/LS_tblPosition/DropdownList');
    PopulateDropDownListAutoComplete("SelectLSPositionID_Probation1", "LSPositionID_Probation1", "LSPositionID_Probation1Name", '@Html.Raw(Eagle.Resource.LanguageResource.PleaseInputPositionName)', areas + '/LS_tblPosition/DropdownList');
    PopulateDropDownListAutoComplete("SelectLSPositionID_Probation2", "LSPositionID_Probation2", "LSPositionID_Probation2Name", '@Html.Raw(Eagle.Resource.LanguageResource.PleaseInputPositionName)', areas + '/LS_tblPosition/DropdownList');
    PopulateDropDownListAutoComplete("SelectLSCurrencyID", "LSCurrencyID", "LSCurrencyName", '@Html.Raw(Eagle.Resource.LanguageResource.PleaseInputCurrencyName)', areas + '/LS_tblCurrency/DropdownList');
    PopulateDropDownListAutoComplete("SelectLSLocationID", "LSLocationID", "LSLocationName", '@Html.Raw(Eagle.Resource.LanguageResource.PleaseInputLocationName)', areas + '/LS_tblLocation/DropdownList');
    /*End-Tab4 Expectation*/
</script>