@model IEnumerable<DocumentViewModel>

<div style="text-align: right; margin-bottom: 5px;">
    <input id="btnAddNewDocument" type="button" class="btn btn-info" value="@Eagle.Resource.LanguageResource.Upload" />
</div>
<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th> 
                <th>
                    @Html.DisplayNameFor(model => model.FileTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileNameVirtual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LSReferenceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocumentId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUserId)
                </th>
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileNameVirtual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReferenceType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocumentId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserUpload)
                    </td>
                    <td class="table-actions text_center no-sort">
                        <a data-id="@item.DocumentId"  title="@Eagle.Resource.LanguageResource.Edit" class="ico editItem editItemDocument " >&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.DocumentId"  title="@Eagle.Resource.LanguageResource.Delete" class="ico deleteItem deleteItemDocument ">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
