@{
    ViewBag.Title = Eagle.Resource.LanguageResource.MailManager;
    Layout = Eagle.Repository.UI.Layout.LayoutType.FullMainLayout;
}

@section TitleSection {
    <h4>@Eagle.Resource.LanguageResource.MailManager</h4>
}
@section TopActionButtons {
    <input type="button" class="btn btnReset" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Reset" />
    <input type="button" class="btn btn-info add btnAdd" value="@Eagle.Resource.LanguageResource.Add" />
    <input type="button" class="btn btn-info edit btnEdit hidden" value="@Eagle.Resource.LanguageResource.Edit" />
}
@section BottomActionButtons {
    <input type="button" class="btn btnReset" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Reset" />
    <input type="button" class="btn btn-info add btnAdd" value="@Eagle.Resource.LanguageResource.Add" />
    <input type="button" class="btn btn-info edit btnEdit hidden" value="@Eagle.Resource.LanguageResource.Edit" />
}

@section ContentSection
{
    aaaaaaaaaaaaaaaaaaaaaaaa
}