@model IEnumerable<RecruitmentDemandViewModel>
<form id="frmList">
<div class="table"> 
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text-center">@Eagle.Resource.LanguageResource.No</th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.DemandCode)
                </th>     
                <th class="text-center">
                    @Eagle.Resource.LanguageResource.Type
                </th>     
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.EmpCreateName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LSCompanyName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LSPositionName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.DemandQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusProcess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusDemand)
                </th>
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>              
            </tr>
        </thead>
        <tbody>
           
            @if (Model != null)
	        {
                int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td class="text-center">
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DemandCode)
                        </td>
                        <td>
                            @{ string type = item.isAdhoc == true ? Eagle.Resource.LanguageResource.Adhoc : Eagle.Resource.LanguageResource.FromPlan;}
                            @type
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpCreateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LSCompanyName)
                        </td>
                        <td>                    
                            @Html.DisplayFor(modelItem => item.LSPositionName)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DemandQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusProcessName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusDemandName)
                        </td>
                        <td class="table-actions text_center no-sort">
                           
                            @*Nút xem chi tiết*@
                            <a data-id="@item.DemandID"  title="@Eagle.Resource.LanguageResource.Edit" class="ico editItem " href="/Admin/RecruitmentDemand/Index?DemandID=@item.DemandID&PlanID=@item.PlanID&ModuleID=8" >&nbsp;&nbsp;&nbsp;</a>
                            @*Nút Xóa*@
                            @if (Session[SettingKeys.AccountInfo] != null && item.EmpID == ((AccountViewModel)Session[SettingKeys.AccountInfo]).EmpID &&
                            (item.StatusDemand == 0 || item.StatusDemand == 3))
                            {
                                <a data-id="@item.DemandID"  title="@Eagle.Resource.LanguageResource.Delete" class="ico deleteItem ">&nbsp;&nbsp;&nbsp;</a>    
                            }
                            else
                            {
                                <a title="@Eagle.Resource.LanguageResource.Delete" class="ico deleteItemDisable">&nbsp;&nbsp;&nbsp;</a> 
                            }
                            @*Nút Đóng là người tạo mới có quyền đóng,
                              Đang mở mới được đóng 
                              không được duyệt mới có quyền đóng
                            *@
                            @if (Session[SettingKeys.AccountInfo] != null && item.EmpID == ((AccountViewModel)Session[SettingKeys.AccountInfo]).EmpID 
                                && item.StatusProcess == 1
                                && (item.StatusDemand == 3 || item.StatusDemand == 5 || item.StatusDemand == 7 || item.StatusDemand == 9 || item.StatusDemand == 11)
                                )
                            {
                                <a data-id="@item.DemandID"  title="@Eagle.Resource.LanguageResource.Close" class="ico closeItem ">&nbsp;&nbsp;&nbsp;</a>    
                            }
                            else
                            {
                                <a data-id="@item.DemandID"  title="@Eagle.Resource.LanguageResource.Close" class="ico closeItemDisable ">&nbsp;&nbsp;&nbsp;</a>  
                            }

                        </td>                       
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
</form>
<script>
    InvokeDataTables();   
    $(document).on("click", ".editItem", function () {
        $("body").addClass("loading");
    });

</script>