@model IEnumerable<CandidateQualificationViewModel>

   
    <div class="table">
        <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
            <thead>
                <tr>
                    <th class="text_center" style="width: 35px;">@Eagle.Resource.LanguageResource.No</th>
                    <th>
                        @Html.DisplayNameFor(model => model.QualificationNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LSQualificationIDAlowNullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QualificationDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Priority)
                    </th>
                    <th class="table-actions text_center no-sort" style="width:60px">@Eagle.Resource.LanguageResource.Actions</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null && Model.Count() > 0)
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualificationNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LSQualificationIDAlowNullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QualificationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Priority)
                            </td>
                            <td class="table-actions text_center no-sort">
                                <a data-id="@item.QualificationID"  title="@Eagle.Resource.LanguageResource.View" class="ico viewItem editItemQualification " >&nbsp;&nbsp;&nbsp;</a>
                            </td>
                        </tr>
                    }
                }else
                {
                    <tr>
                        <td colspan="6">
                            @Eagle.Resource.LanguageResource.ThisInformationHaveNotData
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
