@Html.DevExpress().ReportViewer(settings =>{
    // The following settings are necessary for a Report Viewer.
    settings.Name = "reportViewer";
    settings.Report = (QualificationXtraReport)ViewData["Report"];
    settings.AutoSize = true;
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
    //settings.Style.Add("margin-bottom", "26px");
    settings.Attributes.Add("class", "reportViewer");
    // Callback and export route values specify the corresponding controllers and their actions.
    // These settings are necessary as well.
    settings.CallbackRouteValues = new { Controller = "PersonnelReport", Action = "PopulateReportViewer_Qualification", LSCompanyID = ViewBag.LSCompanyID };
    settings.ExportRouteValues = new { Controller = "PersonnelReport", Action = "ExportData_Qualification", LSCompanyID = ViewBag.LSCompanyID };    
}).GetHtml()

@*@model IEnumerable<Eagle.Model.Report.HR.Qualification.QualificationReportModel>
<div class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th> 
                <th class="center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>               
                <th class="center">
                    @Html.DisplayNameFor(model => model.Qty)
                </th>
                <th class="center">
                    @Html.DisplayNameFor(model => model.Percentage)
                </th>    
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr id="@item.LSQualificationID">
                    <td class="center">
                        @i
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                   <td class="center">
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                   <td class="center">
                        @Html.DisplayFor(modelItem => item.Percentage)
                    </td>   
                </tr>
            }
        </tbody>
    </table>
</div>*@
