@{
    ViewBag.Title = Html.Raw(Eagle.Resource.LanguageResource.Page + " : " + Eagle.Resource.LanguageResource.Edit);
    Layout = Eagle.Repository.UI.Layout.LayoutType.FormLayout;
}

@model Eagle.Model.SYS.Pages.PageViewModel
@section TopActionButtons {
    <input type="button" class="btn btnReset" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Reset" />
    <input type="button" class="btn btn-info add btnAdd" value="@Eagle.Resource.LanguageResource.Save" />
}
@section BottomActionButtons {
    <input type="button" class="btn btnReset" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Reset" />
    <input type="button" class="btn btn-info add btnAdd" value="@Eagle.Resource.LanguageResource.Save" />
}

<form id="myform" name="myform" class="form-horizontal" autocomplete="off" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <div class="form-lead">@Html.Raw(@Eagle.Resource.LanguageResource.RequiredFill)</div>
        <div class="add-new-page">
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PageName)
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PageName, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PageName)
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.RequiredLabelFor(model => model.PageTitle)
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PageTitle)
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { rows = 2, columns = 40, maxlength = 150, @class = "form-control" })
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Keywords)
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Keywords, null, new { @class = "form-control col-md-12 tags" })
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.TemplateId)
                </div>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TemplateId, null, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.TemplateId)
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.RequiredLabelFor(model => model.ContentItemId)
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.ContentItemId, null, new { @class = "form-control", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.ContentItemId)
                </div>           
            </div>
            <!--end row-->
            
          
           
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PageUrl)
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PageUrl, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PageUrl)
                </div>
            </div>
            <!--end row-->
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PagePath)
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PagePath, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PagePath)
                </div>
            </div>
            <!--end row-->
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.StartDate)
                </div>
                <div class="col-md-4">
                    @Html.DateTimePickerFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate)
                </div>              
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">               
                <div class="col-md-2">
                    @Html.LabelFor(model => model.EndDate)
                </div>
                <div class="col-md-4">
                    @Html.DateTimePickerFor(model => model.EndDate)
                    @Html.ValidationMessageFor(model => model.EndDate)
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.SkinId)
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.SkinId, null, new { @class = "form-control", autocomplete = "off" })
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">

                    <div class="col-md-3">
                        <div style="float:left;margin-right:5px;margin-top:-3px;">
                            @Html.CheckBox("DisableLink", false)
                        </div>
                        <div style="float:left">
                            <label style="float:left">@Eagle.Resource.LanguageResource.DisableLink</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="float:left;margin-right:5px;margin-top:-3px;">
                            @Html.CheckBox("DisplayTitle", false)
                        </div>
                        <div style="float:left">
                            <label style="float:left">@Eagle.Resource.LanguageResource.DisplayTitle</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="float:left;margin-right:5px;margin-top:-3px;">
                            @Html.CheckBox("IsExtenalLink", false)
                        </div>
                        <div style="float:left">
                            <label style="float:left">@Eagle.Resource.LanguageResource.IsExtenalLink</label>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row-->
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10">


                    <div class="col-md-3">
                        <div style="float:left;margin-right:5px;margin-top:-3px;">
                            @Html.CheckBox("IsDeleted", false)
                        </div>
                        <div style="float:left">
                            <label style="float:left">@Eagle.Resource.LanguageResource.IsDeleted</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="float:left;margin-right:5px;margin-top:-3px;">
                            @Html.CheckBox("IsMenu", false)
                        </div>
                        <div style="float:left">
                            <label style="float:left">@Eagle.Resource.LanguageResource.IsMenu</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="float:left;margin-right:5px;margin-top:-3px;">
                            @Html.CheckBox("IsSecured", false)
                        </div>
                        <div style="float:left">
                            <label style="float:left">@Eagle.Resource.LanguageResource.IsSecured</label>
                        </div>
                    </div>

                </div>
            </div>
            <!--end row-->
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-10" style="padding-left: 30px;">
                    <div style="float:left;margin-right:5px;margin-top:-3px;">
                        @Html.CheckBox("IsVisible", false)
                    </div>
                    <div style="float:left">
                        <label style="float:left">@Eagle.Resource.LanguageResource.IsVisible</label>
                    </div>
                </div>
            </div>
            <!--end row-->
           
            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PageHeadText)
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.PageHeadText, new { rows = 2, columns = 40, maxlength = 150, @class = "form-control" })
                </div>
            </div>
            <!--end row-->

            <!--start row-->
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PageFooterText)
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.PageFooterText, new { rows = 2, columns = 40, maxlength = 150, @class = "form-control" })
                </div>
            </div>
            <!--end row-->

         
            @Html.Action("LoadPageRolePermission", "Permission")
        </div>
    </div>
</form>

<script type="text/javascript">
    $('.tags').tagsInput({ width: 'auto', 'defaultText': '@Html.Raw(Eagle.Resource.LanguageResource.AddATag)', 'removeWithBackspace': true, 'style': 'bootstrap', 'placeholderColor': '#666666' });
    ShowDateTimePicker();
     (function ($) {
         
     });
</script>