@model List<IncometaxNetViewModels>
<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Eagle.Resource.LanguageResource.EffectiveDate
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.Income1
                </th>
                 
                <th>
                    @Eagle.Resource.LanguageResource.Income2
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Income3
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.Income4
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Income5
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Income6
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Income7
                </th>
                <th class="table-actions text_center">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.strEffectiveDate
                    </td>
                    <td>
                        @item.strIncomeTo1
                    </td>
                    <td>
                        @item.strIncomeTo2
                    </td>
                    <td>
                        @item.strIncomeTo3
                    </td>
                    <td>
                        @item.strIncomeTo4
                    </td>
                    <td>
                        @item.strIncomeTo5
                    </td> 
                    <td>
                        @item.strIncomeTo6
                    </td> 
                    <td>
                        @item.strIncomeTo7
                    </td> 
                    <td class="center action">
                        <a  data-id="@item.IncometaxNetID"  title="Edit" class="ico editItem" >&nbsp;&nbsp;&nbsp;</a>
                        <a  data-id="@item.IncometaxNetID"  title="Edit" class="ico deleteItem launchConfirm">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>

<script>

    // region click delete
    $('.launchConfirm').on('click', function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu

        bootbox.confirm("@Html.Raw(Eagle.Resource.LanguageResource.DoYouWantToContinue)", function (result) {
            if (result) {
              
                var urlCreate = '/IncomeTaxNet/Index';
                $.ajax({
                    type: "POST",
                    url: areas + '/IncomeTaxNet/_Delete' + '/' + lsID,
                    success: function (data) {
                        if (data == 'success') {
                            $.ajax({
                                type: "GET",
                                url: areas + urlCreate,
                                success: function (data) {
                                    $('#main-data').html(data);
                                    AlterUpdateSuccess();
                                }
                            });
                        } else {
                            $('#divEdit').html(data);
                        }
                    }
                })
                return false;

            }
        });

    });
</script>