@model List<SI_spfrmInsNoticeData_Result>
<div class="table" style="width:100%;overflow-x:scroll;">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                
                <th style="width:100px;">
                    @Eagle.Resource.LanguageResource.EmpName
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.AriseDate
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.ToDate
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.SourceName
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.InsNoticeDate
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.RightNoticeDate
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.IncNoticeDate
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.NoteInc
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.NoteDec
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.OldSalaryCoef
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.OldSalary
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.NewSalaryCoef
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.NewSalary
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Percent
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.PercentSI
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.PercentHI
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.PercentUI
                </th>

                <th>
                    @Eagle.Resource.LanguageResource.FromMonth
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.ToMonth
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.TotalMonth
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Stage
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.ReturnHICard
                </th>

                <th class="table-actions text_center">@Html.CheckBox("chkCheckAll")</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;
              int k = -1;}
            @foreach (var item in Model)
            {
                i++;
                k++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td >
                        @item.FullName
                    </td>
                    <td>
                        <input type="hidden" value="@item.AriseDate" name="[@k].AriseDate" />
                        @item.AriseDate
                    </td>
                    <td>
                        @item.ToDate
                        <input type="hidden" value="@item.ToDate" name="[@k].ToDate" />
                    </td>
                    <td>
                        <input type="hidden" value="@item.SourceID" name="[@k].SourceID" />
                        @item.SourceID
                    </td>
                    <td>                        
                        @Html.Datepicker2For(modelItem => item.InsNoticeDate2, "dd/MM/yyyy", new { @name= "["+k.ToString()+"].InsNoticeDate", @style ="width:75px;"})
                    </td>
                    <td>
                        <input type="hidden" value="@item.RightNoticeDate" name="[@k].RightNoticeDate" />
                        @item.RightNoticeDate
                    </td>
                    <td>
                        <input type="hidden" value="@item.IncNoticeDate" name="[@k].IncNoticeDate" />
                        @item.IncNoticeDate
                    </td>
                    <td>
                        <input type="text" class="TypeDate" value="@item.NoteInc" name="[@k].NoteInc" style="width:100px;" />
                    </td>
                    <td>
                        <input type="text" class="TypeDate" value="@item.NoteDesc" name="[@k].NoteDesc" style="width:100px;" />
                    </td>
                    <td>
                         <input type="hidden" value="@item.OldSalaryCoef" name="[@k].OldSalaryCoef" />
                        @item.OldSalaryCoef
                    </td>
                    <td>
                        <input type="hidden" value="@item.OldSalary" name="[@k].OldSalary" />
                        @item.strOldSalary
                    </td>
                    <td>
                        <input type="hidden" value="@item.NewSalaryCoef" name="[@k].NewSalaryCoef" />
                        @item.NewSalaryCoef
                    </td>
                    <td>
                        <input type="hidden" value="@item.NewSalary" name="[@k].NewSalary" />
                        @item.strNewSalary
                    </td>
                    <td>
                        <input type="hidden" value="@item.Percent" name="[@k].Percent" />
                        @item.Percent
                    </td>
                    <td>
                        <input type="hidden" value="@item.PercentSI" name="[@k].PercentSI" />
                        @item.PercentSI
                    </td>
                    <td>
                        <input type="hidden" value="@item.PercentHI" name="[@k].PercentHI" />
                        @item.PercentHI
                    </td>
                    <td>
                        <input type="hidden" value="@item.PercentUI" name="[@k].PercentUI" />
                        @item.PercentUI
                    </td>
                    <td>
                        <input type="hidden" value="@item.FromMonth" name="[@k].FromMonth" />
                        @item.FromMonth
                    </td>
                    <td>
                        <input type="hidden" value="@item.ToMonth" name="[@k].ToMonth" />
                        @item.ToMonth
                    </td>
                    <td>
                        <input type="hidden" value="@item.TotalMonth" name="[@k].TotalMonth" />
                        @item.TotalMonth
                    </td>
                    <td>
                       <input type="hidden" value="@item.Stage" name="[@k].Stage" />
                        @item.Stage
                    </td>
                    <td>
                        @Html.Hidden("["+ k.ToString() + "].ReturnHICard", item.ReturnHICard == true)
                        @item.strReturnHICard
                    </td>
                    <td  class="center">
                        <input type="hidden" value="@item.EmpID" name="[@k].EmpID" />
                        <input type="hidden" value="@item.SIIncrease" name="[@k].SIIncrease" />
                        <input type="hidden" value="@item.SIDecrease" name="[@k].SIDecrease" />
                        <input type="hidden" value="@item.HIIncrease" name="[@k].HIIncrease" />
                        <input type="hidden" value="@item.HIDecrease" name="[@k].HIDecrease" />
                        <input type="hidden" value="@item.UIIncrease" name="[@k].UIIncrease" />
                        <input type="hidden" value="@item.UIDecrease" name="[@k].UIDecrease" />
                        <input type="hidden" value="@item.AdjustedMonths" name="[@k].AdjustedMonths" />
                        <input type="hidden" value="@item.SIIncreaseAdjusted" name="[@k].SIIncreaseAdjusted" />
                        <input type="hidden" value="@item.SIDecreaseAdjusted" name="[@k].SIDecreaseAdjusted" />
                        <input type="hidden" value="@item.HIIncreaseAdjusted" name="[@k].HIIncreaseAdjusted" />
                        <input type="hidden" value="@item.HIDecreaseAdjusted" name="[@k].HIDecreaseAdjusted" />
                        <input type="hidden" value="@item.UIIncreaseAdjusted" name="[@k].UIIncreaseAdjusted" />
                        <input type="hidden" value="@item.UIDecreaseAdjusted" name="[@k].UIDecreaseAdjusted" />
                        <input type="hidden" value="@item.PercentSupplement" name="[@k].PercentSupplement" />
                        <input type="hidden" value="@item.SupplementType" name="[@k].SupplementType" />
                        <input type="hidden" value="@item.IsSupplement" name="[@k].IsSupplement" />
                        <input type="checkbox"  name="[@k].chkCheck" class="chkCheck"  value="true"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    //InvokeDataTables();
    InvokeDateTimePicker();
</script>
