@model IEnumerable<ProjectFeeViewModel>
<div class="row" style="text-align: right; margin-top: -5px;">
    <input id="btnAddFee" title="@Eagle.Resource.LanguageResource.AddNew" type="button" class="btn-custom-addrow" style="margin-right: 18px;">
</div>
<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
    <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Html.DisplayNameFor(model => model.LSRecruitmentFeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrencyName)
                </th>
                <th class="table-actions text_center no-sort">
                    @Eagle.Resource.LanguageResource.Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; int k = -1;}
            @if (Model != null && Model.Count() > 0)
	        {
                foreach (var item in Model)
                {
                    i++;
                    k++;
                    <tr>
                        <td>
                            @i
                            <input type="hidden" name="ProjectFeeList[@k].ProjectID" value="@item.ProjectID" />
                            <input type="hidden" name="ProjectFeeList[@k].LSRecruitmentFeeID" value="@item.LSRecruitmentFeeID" />
                            <input type="hidden" name="ProjectFeeList[@k].CurrencyID" value="@item.CurrencyID" />
                            <input type="hidden" name="ProjectFeeList[@k].LSRecruitmentFeeName" value="@item.LSRecruitmentFeeName" />
                            <input type="hidden" name="ProjectFeeList[@k].Amount" value="@item.Amount" />
                            <input type="hidden" name="ProjectFeeList[@k].CurrencyName" value="@item.CurrencyName" />
                            <input type="hidden" name="ProjectFeeList[@k].CurrencyIDAlowNull" value="@item.CurrencyIDAlowNull" />
                            <input type="hidden" name="ProjectFeeList[@k].LSRecruitmentFeeIDAlowNull" value="@item.LSRecruitmentFeeIDAlowNull" />
                            <input type="hidden" name="ProjectFeeList[@k].AmountAlowNull" value="@item.AmountAlowNull" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LSRecruitmentFeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountAlowNull)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrencyName)
                        </td>
                        <td class="table-actions text_center no-sort">
                            <a data-id="@item.LSRecruitmentFeeID" title="@Eagle.Resource.LanguageResource.Edit" class="ico ico-edit edit-fee">&nbsp;&nbsp;&nbsp;</a>
                            <a data-id="@item.LSRecruitmentFeeID" title="@Eagle.Resource.LanguageResource.Delete" class="ico ico-delete delete-fee">&nbsp;&nbsp;&nbsp;</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">
                        @Eagle.Resource.LanguageResource.PleaseClickAddNewButton_btnAddFee
                    </td>
                </tr>
            }
        </tbody>
</table>
