@model RecruitmentDemandResultViewModel

<div class="modal hide fade popupDemand" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="min-width:245px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@Eagle.Resource.LanguageResource.RecruitmentDemand</h3>
    </div>
    <div class="modal-body">
        @Html.Partial("../REC/RecruitmentProject/_RecruitmentDemandCreateFormInnerPartial")
        <div id="popDemandResult">

        </div>
    </div>
    <div class="modal-footer">
        <input type="button" id="btnDemandCancel" class="btn" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Cancel" />
        <input type="button" id="btnDemandSearch" class="btn btn-info" value="@Eagle.Resource.LanguageResource.Search" />
        <input type="button" id="btnDemandSubmit" class="btn btn-info AddModel" value="@Eagle.Resource.LanguageResource.Add" />
    </div>
</div>
