@model IEnumerable<Eagle.Model.HR.RelationshipViewModel>
<div class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpName) 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LSRelationshipName)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDependant)
                </th>                
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr id="@i">
                    <td id="@item.RelationshipID">
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LSRelationshipName)
                    </td>                   
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.strGender)
                    </td>
                    <td class="center">
                        @Html.DisplayFor(modelItem => item.strIsDependant)
                    </td>
                    <td class="table-actions center no-sort">
                        <a data-id="@item.RelationshipID" title="Edit" class="ico editItem">&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.RelationshipID" title="Delete" class="ico deleteItem">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

