@model InsuranceInformationViewModel


@Html.Action("Employee","Common")

<form id="frmAdd" class="form-horizontal">
    @Html.HiddenFor(model => model.EmpID)
    @Html.HiddenFor(model => model.InsuranceID)
    
    <div id="alertMessageBox">
        @if (ViewBag.DisplayErrorMessage == true)
        {
            <div class="@ViewBag.CssClass">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@ViewBag.SortMessage !</strong>
                <div class="padding-left">
                    @Html.Raw(Server.HtmlDecode(ViewBag.Message))
                </div>
            </div>
        }
    </div>
        <div class="row">
            <ul class="nav nav-tabs" id="myTab">
                <li id="tab-1" class="active"><a href="#pane-1" data-toggle="tab">@Eagle.Resource.LanguageResource.InsuranceInformation</a></li>
                <li id="tab-2"><a href="#pane-2" data-toggle="tab">@Eagle.Resource.LanguageResource.InsuranceProcessBefore</a></li>
                <li id="tab-3"><a href="#pane-3" data-toggle="tab">@Eagle.Resource.LanguageResource.HealthcareVote</a></li>
                <li id="tab-4"><a href="#pane-4" data-toggle="tab">@Eagle.Resource.LanguageResource.InsuranceProcessAtCompany</a></li>
            </ul>
            <div id="myTabContent" class="tab-content responsive">
                <div class="tab-pane  fade in active" id="pane-1">
                    @Html.Partial("../Business/HumanResources/SecurityInsurance/GeneralInformation/_Tab1InsuranceInformationPartial")
                </div>
                <div class="tab-pane" id="pane-2">
                    @Html.Action("_Tab2PreviousRecordPartial")
                </div>
                <div class="tab-pane" id="pane-3">
                    @Html.Action("_Tab3HICardPartial")
                </div>
                <div class="tab-pane" id="pane-4">
                    @Html.Action("_Tab4InsNoticeData")
                </div>
            </div>
            <!--/row-->
            <div class="row">
                <div class="footbar">
                    <input type="button" id="btnReset" value="@Eagle.Resource.LanguageResource.btnReset" class="btn" />                                
                    <input type="button" id="btnAdd" value="@Eagle.Resource.LanguageResource.btnSave" class="btn btn-info AddModel" />
                </div>
            </div>
                            <!--End.row-->
                       
        </div>
</form>

<script type="text/javascript">
    InvokeDateTimePicker();
</script>