@{
    ViewBag.Title = Eagle.Resource.LanguageResource.FunctionName_StandardAL;
    Layout = Eagle.Repository.UI.Layout.LayoutType.MainLayout;
}
@section ContentSection
{
<form id="frmAdd" class="form-horizontal user-group-management">
<div id="alertMessageBox">
</div>
    <div id="divHeader">
        @Html.Action("_SearchHeaderEmp","StandardAnnualLeave",null)
    </div>
    <hr />
    <!--/row-->
    <div class="row">
        <div class="footbar">
            <input type="button" id="btnSearch" value="@Eagle.Resource.LanguageResource.btnSearch" class="btn" />
            <input type="button" id="btnAdd" value="@Eagle.Resource.LanguageResource.btnSave" class="btn btn-info add AddModel" />
        </div>
    </div>
    <!--End.row-->
    <div id="divContent">
        @Html.Action("_List","StandardAnnualLeave",null)
    </div>
</form>
    }
<script type="text/javascript">

    $(document).on("click", "#btnSearch", function () {
        $("body").addClass("loading");
        if ($(".chkActive:checked").val() != 'True')
        {
            //Add => Edit
            $('#btnAdd').removeClass("AddModel").addClass("EditModel");
        }
        //Search danh sach nhan vien 
        var moduleId = getParameterByName("ModuleID");
        var url = areas + '/StandardAnnualLeave/_Search?Status=' + $(".chkActive:checked").val() + "&ModuleID=" + moduleId;
        $.ajax({
            type: "POST",
            url: url,
            data: $("#frmAdd").serialize(),
            success: function (data) {
                $('#divContent').html(data);
            }
        });
        
    });
    // save and update
    $(document).on("click", "#btnAdd", function () {
        $("body").addClass("loading");
        if ($(".chkActive:checked").val() != 'False') {
            //Add => Edit
            $('#btnAdd').removeClass("EditModel").addClass("AddModel");
        }
        var moduleId = getParameterByName("ModuleID");
        if ($('#btnAdd').hasClass("AddModel")) {
            //Add new Account
            var url = areas + '/StandardAnnualLeave/Save';
            var urlCreate = areas + '/StandardAnnualLeave/_Search?Status=' + $(".chkActive:checked").val() + "&ModuleID=" + moduleId;
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: urlCreate,
                            success: function (data) {
                                $('#divContent').html(data);
                                AlterAddSuccess();
                                return false;
                            }
                        });
                    } else {
                        $('#frmAdd').html(data);
                        return false;
                    }
                }
            });
        } else {
            // Update Account
            var url = '@Url.Action("Update", "StandardAnnualLeave")';
            var urlCreate = areas + '/StandardAnnualLeave/_Search?Status=' + $(".chkActive:checked").val() + "&ModuleID=" + moduleId;

            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmAdd").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: urlCreate,
                            success: function (data) {
                                $('#divContent').html(data);
                                AlterUpdateSuccess();
                            }
                        });
                    } else if (data == 'error') {

                        AlterUpdateError();
                    }

                    return false;
                }
            });
        };
    });

</script>
<!-- Popup -->
<script type="text/javascript">
    // reset form
    $(document).on("click", "#btnReset", function () {
        var urlSearch = areas + '/StandardAnnualLeave/_Reset';
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: $("#frmCreateAdjust").serialize(),
            success: function (data) {
                $('#divList').html(data);
            }
        });
    });
    // region click edit
    $(document).on("click", ".editItemAdjust", function () {
        var lsID = $(this).data('id');  // ID cua dong du lieu

        var empID = $("#frmCreateAdjust #EmpID").val();
        var fullname = $("#frmCreateAdjust #FullName").html();

        $.ajax({
            type: "GET",
            url: areas + '/StandardAnnualLeave/_EditAdjust' + '/' + lsID,
            success: function (data) {
                //Create edit form
                $('#divCreate').html(data);
                //Add => Edit
                $('#btnSave').removeClass("AddModel").addClass("EditModel");
                //

                $("#frmCreateAdjust #FullName").html(fullname);
                $("#frmCreateAdjust #EmpID").val(empID);
                return false;
            }
        })
        return false;
    });
    // save and update
    $(document).on("click", "#btnSave", function () {
        var EmpID = $(".popupDetail input[name='EmpID']").val();
        var urlCreate = '/StandardAnnualLeave/_ListAdjust?EmpID=' + EmpID;

        if ($('#btnSave').hasClass("AddModel")) {
            var url = areas + '/StandardAnnualLeave/SaveAdjust?EmpID' + EmpID;
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmCreateAdjust").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas + urlCreate,
                            success: function (data) {
                                $('#divList').html(data);
                                AlterUpdateSuccessWithErrorID("alertMessageBox2");
                                return false;
                            }
                        });
                    } else {
                        $('#divList').html(data);
                        return false;
                    }
                }
            });
        } else {
            // Update Account
            var url = '@Url.Action("UpdateAdjust", "StandardAnnualLeave")';
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmCreateAdjust").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas +  urlCreate,
                            success: function (data) {
                                $('#divList').html(data);
                                $("#btnReset").trigger("click");
                                AlterUpdateSuccessWithErrorID("alertMessageBox2");
                                return false;
                            }
                        });
                    } else {
                        $('#divList').html(data);
                        return false;
                    }
                }
            });
        };
    });

    // reset form
    $(document).on("click", "#btnReset", function () {
        var urlCreate = '/StandardAnnualLeave/_ReloadInput';
        var empID = $("#frmCreateAdjust #EmpID").val();
        var fullname = $("#frmCreateAdjust #FullName").html();

        $.ajax({
            type: "GET",
            url: areas + urlCreate,
            success: function (data) {
                $('#divCreate').html(data);
                $("#frmCreateAdjust #FullName").html(fullname);
                $("#frmCreateAdjust #EmpID").val(empID);
            }
        });
    });


    $(document).on("click", ".viewDetail", function (e) {
        var lsID = $(this).data('id');
        var lsName = $(this).data('name');  //name cua dong du lieu


        $.ajax({
            type: "GET",
            url: "_PopupDetail?EmpID=" + lsID,
            success: function (data) {
                $("#divPopupDetail").html(data);

                $('.popupDetail').modal('show');

                $('.popupDetail #FullName').html(lsName);
                $(".popupDetail input[name='EmpID']").val(lsID);
            }
        });
    });
</script>
