@model EmployeeForPayrollViewModels


<div class="modal hide fade popupStaff" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="min-width:245px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@Eagle.Resource.LanguageResource.Emplist</h3>
    </div>
    <div class="modal-body">
        <form id="frmSearch" class="form-horizontal user-group-management">
            @Html.Partial("../Payroll/SalaryDeduction/_SearchEmployeeInnerPartial")
        </form>
        <hr />
        <div id="popStaffResult">
             @Html.Action("_ListStaffPopup","SalaryDeduction",null)
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" id="btnStaffCancel" class="btn btn-default reset" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Cancel" />
        <input type="button" id="btnStaffSearch" class="btn btn-info search" value="@Eagle.Resource.LanguageResource.Search" />
        <input type="button" id="btnStaffSubmit" class="btn btn-info add AddModel"  value="@Eagle.Resource.LanguageResource.Add" />
    </div>
</div>
