@model List<AdditionSalaryViewModels>
<div class="table datatable" style="width:100%; overflow-x:auto; overflow-y:hidden; ">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                 <th>
                    @Eagle.Resource.LanguageResource.FullName
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Position
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.Type
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.FromMonth
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.ToMonth
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.PaymentMethod
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Amount
                </th>                
                <th>
                   @Eagle.Resource.LanguageResource.Currency
                </th>
                <th>
                    GROSS/NET
                </th>
                <th class="table-actions text_center">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.LSPositionName
                    </td>
                    <td>
                        @item.LSSalaryAdjustName
                    </td>
                    <td>
                        @item.FromMonth
                    </td>
                    <td>
                        @item.ToMonth
                    </td>
                    <td>
                        @item.PaymentMethod
                    </td>
                    <td>
                        @item.strAmount
                    </td>
                    <td>
                        @item.LSCurrencyName
                    </td>
                    <td>
                        @item.strGrossNet
                    </td>
                    <td class="center action">
                        <a  data-id="@item.SalaryAdjustID"  title="Edit" class="ico editItem" >&nbsp;&nbsp;&nbsp;</a>
                        <a  data-id="@item.SalaryAdjustID" title="Edit" class="ico deleteItem launchConfirm">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
<div id="divPopupEditAdditionSalary">

</div>
    
@Html.Action("ConfirmPopup","Common",null)
<script>
    InvokeDataTables();
 
</script>
<script>

    // region click delete
    $('.launchConfirm').on('click', function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        $('#confirm')
            .modal({ backdrop: 'static', keyboard: false })
            .one('click', '[data-value]', function (e) {
                if ($(this).data('value')) {

                    var urlCreate = '/AdditionSalary/IndexList';
                    $.ajax({
                        type: "POST",
                        url: areas + '/AdditionSalary/_Delete' + '/' + lsID,
                        success: function (data) {
                            if (data == 'success') {
                                $('#btnSearch').trigger('click');
                                AlterAddSuccess();
                            } else {
                                $('#divListAdditionSalary').html(data);
                            }
                        }
                    })
                    return false;
                }
            });
    });
  
</script>