@model IEnumerable<CompanyViewModel>

<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Html.DisplayNameFor(model => model.LSCompanyCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                
                <th class="center">
                    @Html.DisplayNameFor(model => model.Used)
                </th>
                <th class="table-actions center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LSCompanyCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="center">
                        @Html.Raw(item.Used == true ? "x" : "")
                    </td>
                    <td class="table-actions center no-sort">
                        <a data-id="@item.LSCompanyID"  title="Edit" class="ico editItem " >&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.LSCompanyID"  title="Delete" class="ico deleteItem ">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    InvokeDataTables();
</script>