@model TrainingRequestCostViewModel

@Html.HiddenFor(model => model.TrainingRequestID)   
@Html.HiddenFor(model => model.LSTrainingExpenseID)        
       
 <h6>@Eagle.Resource.LanguageResource.TrainingExpense</h6>
 <hr />
 <div class="row">
    <div class="col-md-1">
        @Html.LabelFor(model => model.LSTrainingExpenseID)
    </div>
    <div class="col-md-3">
        @Html.TextBox("SelectLSTrainingExpenseID", null, new { @class = "form-control" })                                        
        @Html.HiddenFor(model => model.LSTrainingExpenseIDAllowNull)   
        @Html.HiddenFor(model => model.TrainingExpenseName)                                           
    </div>
    <div class="col-md-1">
        @Html.LabelFor(model => model.LSCurrencyID)
    </div>
    <div class="col-md-3">
        @Html.TextBox("SelectLSTrainingCurrencyID", null, new { @class = "form-control" })                                        
        @Html.HiddenFor(model => model.LSCurrencyIDAllowNull)   
        @Html.HiddenFor(model => model.TrainingCurrencyName)                                           
    </div>                                                                    
     <div class="col-md-1">
        @Html.LabelFor(model => model.Cost)
    </div>
    <div class="col-md-3">
        @Html.TextBoxFor(model => model.Cost, new { @autocomplete = "off", @class = "form-control" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" id="btnAddExpense" value="@Eagle.Resource.LanguageResource.btnAdd" class="btn btn-info AddModel"  @ViewBag.EnableSaveAndSendForApproval />                                                                        
    </div>
</div>       

