@model List<SalaryCoefViewModels>
<div class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Eagle.Resource.LanguageResource.EffectiveDate
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.BasicCoef
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.PercentCoef
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Coef
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.InsuranceCoef
                </th>
                <th class="table-actions text_center">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.strEffectiveDate
                    </td>
                    <td>
                        @item.BasicCoef
                    </td>
                    <td>
                        @item.PercentBasicCoef
                    </td>
                    <td>
                        @item.ActualCoef
                    </td>
                    <td>
                        @item.InsuranceSalary
                    </td>
                    <td class="center action">
                        <a  data-id="@item.SalaryID"  title="Edit" class="ico editItem" >&nbsp;&nbsp;&nbsp;</a>
                        <a  data-id="@item.SalaryID"  title="Edit" class="ico deleteItem launchConfirm">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
@Html.Action("ConfirmPopup","Common",null)
<script>
    //InvokeDataTables();
</script>
<script>

    // region click delete
    $('.launchConfirm').on('click', function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        $('#confirm')
            .modal({ backdrop: 'static', keyboard: false })
            .one('click', '[data-value]', function (e) {
                if ($(this).data('value')) {

                    var urlCreate = '/BasicSalary/Index';
                    $.ajax({
                        type: "POST",
                        url: areas + '/BasicSalary/_Delete' + '/' + lsID,
                        success: function (data) {
                            if (data == 'success') {
                                $.ajax({
                                    type: "GET",
                                    url: areas + urlCreate,
                                    success: function (data) {
                                        $('#main-data').html(data);
                                        AlterUpdateSuccess();
                                    }
                                });
                            } else {
                                $('#divEdit').html(data);
                            }
                        }
                    })
                    return false;
                }
            });
    });
</script>