@model List<SalaryViewModels>
<div class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Eagle.Resource.LanguageResource.EffectiveDate
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.BasicSalary
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.PercentSalary
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.ActualSalary
                </th>
                
                <th>
                   @Eagle.Resource.LanguageResource.Currency
                </th>
                <th>
                    GROSS/NET
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.InsuranceSalary
                </th>
                <th>
                   @Eagle.Resource.LanguageResource.Currency
                </th>
                <th class="table-actions text_center">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td class="text-center">
                        @i
                    </td>
                    <td class="text-center">
                        @item.strEffectiveDate
                    </td>
                    <td style="text-align:right;">
                        @item.strBasicSalary
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.PercentBasicSalary)
                    </td>
                    <td style="text-align:right;">
                        @item.strActualSalary
                    </td>
                    <td class="text-center">
                        @item.LSCurrencyName
                    </td>
                    <td class="text-center">
                        @item.strGrossNet
                    </td>
                    <td style="text-align:right;">
                        @item.strInsuranceSalary
                    </td>
                    <td class="text-center">
                        @item.InsuranceLSCurrencyName
                    </td>
                    <td class="center action">
                        <a  data-id="@item.SalaryID"  title="Edit" class="ico editItem" >&nbsp;&nbsp;&nbsp;</a>
                        <a  data-id="@item.SalaryID"  title="Edit" class="ico deleteItem launchConfirm">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>

<script>
    //InvokeDataTables();
</script>
<script>

    // region click delete
    $('.launchConfirm').on('click', function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        bootbox.confirm("@Html.Raw(Eagle.Resource.LanguageResource.DoYouWantToContinue)", function (result) {
            if (result) {
              
                var urlCreate = '/BasicSalary/Index';
                $.ajax({
                    type: "POST",
                    url: areas + '/BasicSalary/_Delete' + '/' + lsID,
                    success: function (data) {
                        if (data == 'success') {
                            $.ajax({
                                type: "GET",
                                url: areas + urlCreate,
                                success: function (data) {
                                    $('#main-data').html(data);
                                    AlterUpdateSuccess();
                                }
                            });
                        } else {
                            $('#divEdit').html(data);
                        }
                    }
                })
                return false;

            }
        });


    });
</script>