@model IEnumerable<LS_tblOnlineProcessViewModel>

<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Html.DisplayNameFor(model => model.NameProcessOnline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FunctionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoOfLevel)
                </th>
                <th class="no-sort">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameProcessOnline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FunctionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoOfLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="table-actions text_center no-sort">
                        <a data-id="@item.DMQuiTrinhID"  title="Edit" class="ico editItem " >&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.DMQuiTrinhID"  title="Delete" class="ico deleteItem ">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>