@model IEnumerable<EmployeeForPayrollViewModels>
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
      
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpCode)
                </th>
                <th style="min-width:100px">
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LSPositionName)
                </th>
                <th class="table-actions text_center no-sort">@Html.CheckBox("chkSearchResultAll")</th>
            </tr>
        </thead>  
    @{int i = 0;}
    @if (Model != null && Model.Count() > 0)
	{
        <tbody>
           
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LSPositionName)
                        </td>
                        
                        <td class="table-actions text_center no-sort">
                            @Html.CheckBox("chkEmpID", false, new { @value = item.EmpID  }) 
                        </td>
                    </tr>
                }
       
        </tbody>
        }else
        {
            <tr>
                <td style="text-align:center">
                   
                </td>
            </tr>
        }

    </table>