@model List<TrainingEvaluationViewModel>
<form id="frmList">
<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center" style="width:5%">@Eagle.Resource.LanguageResource.No</th>
                <th style="width:20%" class="text_center">
                    @Eagle.Resource.LanguageResource.TrainingCodeName
                </th>
                <th style="width:20%" class="text_center">
                    @Eagle.Resource.LanguageResource.TrainingCourseName
                </th>
                <th style="width:25%" class="text_center">
                    @Eagle.Resource.LanguageResource.TrainingEvaluationTemplateName
                </th>                                                                                                                
                <th style="width:25%" class="text_center">
                    @Eagle.Resource.LanguageResource.TrainingEvaluationCreater
                </th>                                                                                                                
                <th class="table-actions text_center no-sort" style="width:10%">@Eagle.Resource.LanguageResource.Actions</th>                
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td class="text_center">
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainingCourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EvaluationTemplateName)
                    </td>                                                           
                    <td>
                        @Html.DisplayFor(modelItem => item.EvaluationEmpName)
                    </td>                                                           
                    <td class="table-actions text_center no-sort">
                       <a data-id="@item.TrainingEvaluationID"  title="View Of TrainingEvaluation" class="ico viewItem " href="/Admin/TrainingEvaluation/Index?TrainingEvaluationID=@item.TrainingEvaluationID" >&nbsp;&nbsp;&nbsp;</a>                                                                                              
                    </td> 
                </tr>
            }
        </tbody>
    </table>
</div>
</form>
<script>    
    
    var urlReset = areas + "/TrainingEvaluationList/_List"
    $(document).on("click", ".deleteItem", function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu
        var urlRedirect = areas + "/TrainingEvaluationList/_Delete?id=" + lsID;

        bootbox.confirm("@Html.Raw(Eagle.Resource.LanguageResource.DoYouWantToContinue)", function (result) {
            if (result) {
                $("body").addClass("loading");
                $.ajax({
                    type: "POST",
                    url: urlRedirect,
                    success: function (data) {
                        if (data == 'success') {
                            $("body").addClass("loading");
                            $.ajax({
                                type: "POST",
                                url: urlSearch,
                                data: $("#frmAdd").serialize(),
                                success: function (data) {
                                    $('#divList').html(data);
                                }
                            });
                        } else {
                            $('#divEdit').html(data);
                            $('html, body').animate({ scrollTop: 80 }, 'slow');
                        }
                    }
                });
                return false;
            }
        });

    });
</script>