<div class="box_container">  
    <div class="box_header">  
            <div id="ProbationaryHeading" class="box_header_title pull-left">
            <h6>@Html.Raw(Eagle.Resource.LanguageResource.ProbationaryStatistics)</h6>
        </div>                 
        <div id="ProbationaryTypeButtons" class="btn-group pull-right" data-toggle="buttons-radio">
            <button type="button" class="btn" data-id="1">@Html.Raw(Eagle.Resource.LanguageResource.Today)</button>
            <button type="button" class="btn" data-id="2">@Html.Raw(Eagle.Resource.LanguageResource.Week)</button>
            <button type="button" class="btn active" data-id="3">@Html.Raw(Eagle.Resource.LanguageResource.TwoMonths)</button>
        </div>
    </div>
    <div id="ProbationaryPlaceHolder" class="box_content">
        @Html.Action("GetProbationaryList", "Probation", null)  
    </div>   
</div> 

<script type="text/javascript">
    (function ($) {
        $.createDataBuilder = function (p) {
            var DataMgr = {
                config: {
                    isPostBack: false,
                    async: true,
                    cache: false,
                    processData: false,
                    mimeType: "multipart/form-data",
                    type: 'POST',
                    contentType: "application/json; charset=utf-8",
                    data: '{}',
                    dataType: 'json',
                    baseURL: p.BaseURL,
                    method: "",
                    url: "",
                    ajaxCallMode: 0,
                    isValid: false,
                    ContainerClientID: p.ContainerClientID
                },
                messages:
                {
                    nomenu: "No Data"
                },
                init: function (config) {                  
                    DataMgr.InitializeCotrols();
                    DataMgr.BindEvents();
                },
                ajaxSuccess: function (data) {
                    switch (parseInt(DataMgr.config.ajaxCallMode)) {
                        case 1:
                            DataMgr.BindListToContainer(data);
                            break;
                    //    case 2:
                    //        DataMgr.BindDataToDetailReportContainer(data);
                    //        break;
                    //    case 3:
                    //        DataMgr.ReloadData();
                    //        break;
                        default:
                            break;
                    }
                },
                ajaxFailure: function (jqXHR, textStatus, errorThrown) {
                    handleAjaxErrors(jqXHR, textStatus, errorThrown);
                },
                ajaxCall: function (config) {
                    $.ajax({
                        type: DataMgr.config.type,
                        contentType: DataMgr.config.contentType,
                        cache: DataMgr.config.cache,
                        url: DataMgr.config.url,
                        data: DataMgr.config.data,
                        dataType: DataMgr.config.dataType,
                        success: DataMgr.ajaxSuccess,
                        error: DataMgr.ajaxFailure,
                        async: false
                    });
                },              
                InitializeCotrols: function () {
                   //
                },               
                BindEvents: function () {                    
                    $("#ProbationaryTypeButtons > .btn").click(function () {
                        $(this).addClass("active").siblings().removeClass("active");
                        var type = $(this).attr("data-id");
                        var placeholder = 'ProbationaryPlaceHolder';
                        switch (type) {
                            case '1':
                                DataMgr.GetProbationaryList(1);
                                break;
                            case '2':
                                DataMgr.GetProbationaryList(7);
                                break;
                            case '3':                               
                                DataMgr.GetProbationaryList(60);
                                break;
                            default:
                                DataMgr.GetProbationaryList(1);
                                break;
                        }
                    });
                },
                GetProbationaryList: function (Type) {
                    $("body").addClass("loading");
                    $('#' + DataMgr.config.ContainerClientID).html('');
                    var data = { "Type": Type };                  
                    this.config.method = "GetProbationaryList";
                    this.config.data = data;
                    this.config.type = "GET";
                    this.config.dataType = "html";
                    this.config.url = this.config.baseURL + this.config.method;
                    this.config.ajaxCallMode = 1;
                    this.ajaxCall(this.config);
                },
                BindListToContainer: function (data) {                  
                   if (!$.trim(data)) {                      
                        //showMessageWithTitle("Warning", '@Html.Raw(Eagle.Resource.LanguageResource.NoDataFound)', "warning", 5000);
                        $('#' + DataMgr.config.ContainerClientID).html('<span style="padding:5px">@Html.Raw(Eagle.Resource.LanguageResource.NoDataFound)</span>');
                    }
                    else {
                        $('#' + DataMgr.config.ContainerClientID).html(data);
                      
                   }
                    $("body").removeClass('loading');                    
                }
            };
            DataMgr.init();
        }

        var Controller = 'Probation';
        var BaseURL = areas + "/" + Controller + "/";
        var base_settings = {
            ContainerClientID: "ProbationaryPlaceHolder",
            BaseURL: BaseURL
        };
        $.createDataBuilder(base_settings);
    })(jQuery);
</script>