@model CompanyViewModel

<form id="frmAdd" class="form-horizontal">
    @Html.HiddenFor(model => model.LSCompanyID)
    @Html.HiddenFor(model => model.LSCompanyDefineID)
    @Html.HiddenFor(model => model.InitialLSCompanyCode)
    <div id="alertMessageBox">
        @if (ViewBag.DisplayErrorMessage == true)
        {
            <div class="@ViewBag.CssClass">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@ViewBag.SortMessage !</strong>
                <div class="padding-left">
                    @Html.Raw(Server.HtmlDecode(ViewBag.Message))
                </div>
            </div>
        }
    </div>
    <div class="box">
        <div class="row">
            <div id="right_accordion" class="accordion-group">
                <div class="accordion-heading toolbar">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#form_accordion">
                        <span class="pull-right"><i class="icon-chevron-up icon-white"></i></span>
                        <span class="heading-tite">@Eagle.Resource.LanguageResource.InputArea</span>
                    </a>
                </div>
                <div id="form_accordion" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="accordion-content">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RequiredLabelFor(model => model.LSCompanyDefineID)
                                    @Html.HiddenFor(model => model.LSCompanyDefineID)
                                </div>
                                <div class="col-md-10">
                                    @if (ViewBag.CompanyDefineList != null && ((List<CompanyDefineViewModel>)ViewBag.CompanyDefineList).Count > 0)
                                    {
                                        foreach (var CompanyDefine in ViewBag.CompanyDefineList as List<CompanyDefineViewModel>)
                                        {
                                            <label class="reset-label">
                                                @Html.RadioButton("CompanyDefine", CompanyDefine.LSCompanyDefineID,CompanyDefine.LSCompanyDefineID == (int?)ViewBag.CompanyDefineChecked, new { @data_id = CompanyDefine.Parent  })
                                                @CompanyDefine.Name
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row" id="divParent">
                                <div class="col-md-2">
                                    @Html.RequiredLabelFor(model => model.Parent)
                                </div>
                                <div class="col-md-4">
                                     <select id="Parent" name="Parent" class="easyui-combotree span2"></select>
                                     @Html.ValidationMessage("Parent")                                                                          
                                    <script>
                                        var parent = $('input#CompanyDefine:checked').attr('data-id');
                                        LoadComboTreeWithActionWithRequired('Parent', 'GetTo?Parent=' + parent, '@string.Format(Eagle.Resource.LanguageResource.Required,Eagle.Resource.LanguageResource.LastCompanyDefine)','@Model.Parent')
                                    </script>
                                    
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RequiredLabelFor(model => model.LSCompanyCode)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.LSCompanyCode, new { @class = "form-control"  })
                                    @Html.ValidationMessageFor(model => model.LSCompanyCode)
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.TaxCode)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control"  })
                                    @Html.ValidationMessageFor(model => model.TaxCode)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.RequiredLabelFor(model => model.Name)
                                </div>
                                <div class="col-md-4">     
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control"  })
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                                <div class="col-md-2">
                                    @Html.RequiredLabelFor(model => model.VNName)
                                </div>
                                <div class="col-md-4">     
                                    @Html.TextBoxFor(model => model.VNName, new { @class = "form-control"  })
                                    @Html.ValidationMessageFor(model => model.VNName)
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Phone)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control"  })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Fax)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control"  })
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Address)
                                </div>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Rank)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Rank, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Rank)
                                </div>
                                <div class="col-md-2">
                                    @Html.LabelFor(model => model.Used)
                                </div>
                                <div class="col-md-4">
                                    @Html.CheckBox("Used")
                                </div>
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="footbar">
                                    <input type="button" id="btnReset" value="@Eagle.Resource.LanguageResource.btnReset" class="btn" />
                                    <input type="button" id="btnAdd" value="@Eagle.Resource.LanguageResource.btnSave" class="btn btn-info AddModel" />
                                </div>
                            </div>
                            <!--End.row-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Action("jqueryval", "Common", null)