@model List<TrainingCourseViewModel>

<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Eagle.Resource.LanguageResource.TrainingCourseCode
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.TrainingCourseName
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.TrainingCode
                </th>
                 <th>
                    @Eagle.Resource.LanguageResource.TrainingCategoryName
                </th>
                <th class="no-sort">
                    @Eagle.Resource.LanguageResource.TrainingProviderName
                </th>
                <th class="table-actions text_center no-sort">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.LSTrainingCourseCode
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td class="text_center">
                        @item.TrainingCodeName
                    </td>
                    <td>
                        @item.TrainingCategoryName
                    </td>
                    <td>
                        @item.TrainingProviderName
                    </td>
                    <td class="table-actions text_center no-sort">
                        <a data-id="@item.LSTrainingCourseID"  title="Edit" class="ico editItem " >&nbsp;&nbsp;&nbsp;</a>
                        <a data-id="@item.LSTrainingCourseID"  title="Delete" class="ico deleteItem ">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    InvokeDataTables();
</script>