@model IEnumerable<LS_tblBankBranchEditModel>
<div class="table datatable">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
         
                <th class="text_center no_sort ">@Eagle.Resource.LanguageResource.No</th>
                
                <th>
                    @Eagle.Resource.LanguageResource.Code
                </th>                
                <th>
                    @Eagle.Resource.LanguageResource.Name
                </th>               
                <th>
                    @Eagle.Resource.LanguageResource.Rank
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Used
                </th>
                
                <th class="table-actions text_center">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in Model)
            {
                i++;
                <tr id="@item.BankBranchID">
                    <td>@i</td>
                    <td>@item.LSBankBranchCode</td>                   
                    <td>@item.BankBranchName</td>
                    <td class="text-center"> @item.Rank</td>
                    <td class="text-center"> @item.strUsed</td>
                    <td class="center">
                        <a data-id="@item.BankBranchID" id="btnGetDetails_BankBranch"  title="Edit" class="ico edit iconedit">&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
