@model OTLimitByStaffCreateViewModel
<!--Begin search -->
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.EmpCode)
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.EmpCode, new { @Id = "SearchEmpCode", @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.LabelFor(model => model.FullName)
    </div>
    <div class="col-md-4">
        @Html.TextBoxFor(model => model.FullName, new { @Id = "SearchFullName", @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label>
            @Eagle.Resource.LanguageResource.LastCompanyDefine
        </label>
    </div>
    <div class="col-md-4">
        <select id="SearchLSCompanyID" name="SearchLSCompanyID" class="easyui-combotree span2"></select>
        <script type="text/javascript">
            LoadComboTree('SearchLSCompanyID');
            function LoadComboTree(controlId) {
                $('#' + controlId).combotree({
                    url: '/CommonCompany/GetAll',
                    textField: 'title',
                    valueField: 'id',
                    onLoadSuccess: function (row, data) {
                        $(this).tree("collapseAll");
                    },
                    onSelect: function (node) {
                    }
                });
            }
        </script>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <label style="display: inline; margin-left: 10px;">Chưa thiết lập @Html.RadioButton("Searchactive1", true, true, new { @id = "NotYet", @class = "chkActive" })</label>
        <label style="display: inline; margin-left: 10px;">Đã thiết lập @Html.RadioButton("Searchactive1", false, false, new { @id = "Yet", @class = "chkActive" })</label>
    </div>
</div>
<!--End search -->
