@model List<OTLimitByStaffListViewModel>
<div class="table">
    <table id="dataTable" class="use-dataTable table table-bordered table-condensed table-hover table-striped tablesorter sortableTable">
        <thead>
            <tr>
                <th class="text_center">@Eagle.Resource.LanguageResource.No</th>
                <th>
                    @Eagle.Resource.LanguageResource.EmpCode
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.EmpName
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Position
                </th>
                <th>
                    @Eagle.Resource.LanguageResource.Hours
                </th>
                <th class="table-actions text_center">@Eagle.Resource.LanguageResource.Actions</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;
              int k = -1;}
            @foreach (var item in Model)
            {
                i++;
                k++;
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @item.EmpCode
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.strPositonName
                    </td>
                    <td class="center action">
                        <input type="text" class="TypeDate" value="@item.Hours" name="[@k].Hours" style="width:100px;" />
                    </td>
                    <td  class="center">
                        <input type="hidden" value="@item.EmpID" name="[@k].EmpID" />
                        <input type="hidden" value="@item.OTLimitByStaffID" name="[@k].OTLimitByStaffID" />                        
                       @if (item.OTLimitByStaffID == 0)
                        { 
                            <input type="checkbox"  name="[@k].chkCheck"  value="true"/>
                        }
                        else
                        {
                            <a  data-id="@item.OTLimitByStaffID"  title="Edit" class="ico deleteItem launchConfirm">&nbsp;&nbsp;&nbsp;</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="confirm" class="modal hide fade" style="width: 300px">
    <div class="modal-body">
        Do you want to continue?
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" data-value="1">Continue</button>
        <button type="button" data-dismiss="modal" class="btn" data-value="0">Cancel</button>
    </div>
</div>
<script>
    InvokeDataTables();
</script>
<script type="text/javascript">
    // region click delete
    $('.launchConfirm').on('click', function (e) {
        var lsID = $(this).data('id');  // ID cua dong du lieu

        bootbox.confirm("@Html.Raw(Eagle.Resource.LanguageResource.DoYouWantToContinue)", function (result) {
            if (result) {
                $.ajax({
                    type: "POST",
                    url: areas + '/OTLimitByStaff/_Delete' + '/' + lsID,
                    success: function (data) {
                        if (data == 'success') {
                            $('#btnSearch').trigger('click');
                            AlterUpdateSuccess();
                        } else {
                            $('#divEdit').html(data);
                        }
                    }
                });
                return false;
            }
        });

   
    });
</script>
