@model ScheduleFindViewModel
<div class="modal hide fade popupDetail" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="width:1024px;margin-left:-368px;">
    @Html.HiddenFor(model => model.ScheduleID)
    @Html.HiddenFor(model => model.strShiftName)
 
    <div class="modal-header">
        <h3 id="myModalLabel">Schedule Working Detail</h3>
    </div>
    <div class="modal-body" style="height:600px;">
        <!--Begin body -->
        <div class="input-area">
            <form id="frmSearchScheduleWorkingDetail">
                <div id="reload-input">
                    @Html.Partial("../Timesheet/Schedule/ReloadInput")
                </div>
            <div id="divResultTable">
                @Html.Action("_TablePartial", "Schedule", new { Year = ((ScheduleFindViewModel)Model).Year, ScheduleID = ((ScheduleFindViewModel)Model).ScheduleID })
            </div>
            </form>
        </div>
        <!--End body -->
</div>
    <div class="modal-footer">
                    <input type="button" id="btnReset" value=" @Eagle.Resource.LanguageResource.btnReset" class="direct_bt btn btn-info btn-larg1e row-fluid" />
                    <input type="button" id="btnFill" value="@Eagle.Resource.LanguageResource.btnFill" class="btn FillData" />
                    <input type="button" id="btnSave" value="@Eagle.Resource.LanguageResource.btnSave" class="btn btn-info default AddModel">
                    <input type="button" id="btnClose" value="@Eagle.Resource.LanguageResource.btnClose" data-dismiss="modal" class="btn" />
                   
    </div>
</div>

<script type="text/javascript">
    // Fill data
    $(document).on("click", "#btnFill", function () {
        if (!$("#frmSearchScheduleWorkingDetail").valid()) { // Not Valid
            return false;
        } else {

            var optInclude = $('input:radio[name=optInclude]:checked').val();
            //Fill data
            var urlSearch = areas + '/Schedule/_FillData/?optInclude=' + optInclude;
            $.ajax({
                type: "POST",
                url: urlSearch,
                data: $("#frmSearchScheduleWorkingDetail").serialize(),
                success: function (data) {
                    if (data == "error") {
                        $.ajax({
                            type: "POST",
                            url: areas + '/Schedule/_FillDataError/',
                            data: $("#frmSearchScheduleWorkingDetail").serialize(),
                            success: function (data) {
                                if (data != "error") {
                                    $('#reload-input').html(data);
                                    $('.popupDetail #ScheduleName').html($(".popupDetail input[name='ScheduleName']").val());
                                }
                            }
                        });
                    } else {
                        $('#divResultTable').html(data);
                    }
                }
            });
        };
    });
    // reset form
    $(document).on("click", "#btnSearch", function () {
        var ScheduleID = $(".popupDetail input[name='ScheduleID']").val();
        var Year = $(".popupDetail input[name='Year']").val();
        var urlSearch = areas + '/Schedule/_Search?ScheduleID=' + ScheduleID + '&Year=' + Year;
        $.ajax({
            type: "POST",
            url: urlSearch,
            data: $("#frmSearchScheduleWorkingDetail").serialize(),
            success: function (data) {
                $('#divResultTable').html(data);
            }
        });
    });
    // reset form
    $(document).on("click", "#btnReset", function () {
        var urlSearch = areas + '/Schedule/_Reset';
        $.ajax({
            type: "POST", 
            url: urlSearch,
            data: $("#frmSearchScheduleWorkingDetail").serialize(),
            success: function (data) {
                $('#divResultTable').html(data);
            }
        });
    });
    // save and update
    $(document).on("click", "#btnSave", function () {

        if ($('#btnSave').hasClass("AddModel")) {
            //Add new Account
            var Year = $(".popupDetail input[name='Year']").val();
            var ScheduleID = $(".popupDetail input[name='ScheduleID']").val();
            var url = areas + '/Schedule/SaveDetail?ScheduleID' + ScheduleID;
            var urlCreate = '/Schedule/_TablePartial?Year=' + + '&ScheduleID=' + ScheduleID;
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frmSearchScheduleWorkingDetail").serialize(),
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            type: "GET",
                            url: areas + urlCreate,
                            success: function (data) {
                                AlterUpdateSuccessWithErrorID("alertMessageBox2");
                                return false;
                            }
                        });
                    } else {
                        $('#reload-input').html(data);
                        return false;
                    }
                }
            });
        };
    });
</script>

