@model CandidateViewModel

@Html.HiddenFor(model => model.InitialIDNo)
@Html.HiddenFor(model => model.InitialCandidateCode)
<div class="tab-pane  fade in active" id="pane-1">
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.CandidateCode)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.CandidateCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CandidateCode)
        </div>
        <div class="col-md-2">
            <label>@Eagle.Resource.LanguageResource.FileImage</label>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div id="ImagePreviewBox" style="float: left" class="col-md-4">
                    <span>
                        @Html.ImageByFileId("Photo", Model.FileId, Model.LastName + " " + Model.FirstName, new { width = "80", height = "80", @class = "thumb" })
                    </span>
                </div>
                <div style="float: left" class="col-md-8">
                    @Html.TextBox("FileUpload", null, new { id = "FileUpload", type = "file" })
                    @Html.HiddenFor(model => model.FileId)
                </div>
            </div>
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.FirstName)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.FirstName, null, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.LastName)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Gender", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Gender)
        </div>
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.DOB)
        </div>
        <div class="col-md-4">
            @Html.DatepickerFor(model => model.DOB)
            @Html.ValidationMessageFor(model => model.DOBtmp)
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(m => m.LSMaritalID)
        </div>
        <div class="col-md-4">
            @Html.DropDownList("LSMaritalID", null, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>@Eagle.Resource.LanguageResource.LSEthnicID</label>
        </div>
        <div class="col-md-4">
            @Html.TextBox("SelectLSEthnicID", null, new { @class = "form-control" })
            @Html.HiddenFor(model => model.LSEthnicName)
            @Html.HiddenFor(model => model.LSEthnicID)
        </div>
    </div>
    <!--end row-->

    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.ApplyDate)
        </div>
        <div class="col-md-4">
            @Html.DatepickerFor(model => model.ApplyDate)
            @Html.ValidationMessageFor(model => model.ApplyDatetmp)
        </div>
        <div class="col-md-2">
            <label>@Eagle.Resource.LanguageResource.Email</label>
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Telephone)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control" })
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.IDNo)
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.IDNo, new { @name = "IDNo", @class = "form-control", autocomplete = "off" })
        </div>
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.IDIssuedDate)
        </div>
        <div class="col-md-4">
            @Html.DatepickerFor(model => model.IDIssuedDate)
            @Html.ValidationMessageFor(model => model.IDIssuedDatetmp)
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.RequiredLabelFor(model => model.IDIssuedPlace)
        </div>
        <div class="col-md-4">
            @Html.TextBox("SelectIDIssuedPlace", null, new { @class = "form-control" })
            @Html.HiddenFor(model => model.IDIssuedPlaceName)
            @Html.HiddenFor(model => model.IDIssuedPlace)
        </div>

    </div>
    <!--end row-->
    <!--start row-->
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.LSNationalityID)
        </div>
        <div class="col-md-4">            
            @Html.TextBox("SelectLSNationalityID", null, new { @class = "form-control" })
            @Html.HiddenFor(model => model.LSNationalityName)
            @Html.HiddenFor(model => model.LSNationalityID)
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.LSReligionID)
        </div>
        <div class="col-md-4">
            @Html.TextBox("SelectLSReligionID", null, new { @class = "form-control" })
            @Html.HiddenFor(model => model.LSReligionName)
            @Html.HiddenFor(model => model.LSReligionID)
        </div>

    </div>
    <!--end row-->
    
    <div class="group-control">
        <div>
            <h6>@Eagle.Resource.LanguageResource.BornAddress</h6>
        </div>
        <hr />

        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.BornLSCountryID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectBornLSCountryID", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.BornLSCountryName)
                @Html.HiddenFor(model => model.BornLSCountryID)
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
            </div>

        </div>
        <!--end row-->
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.BornLSProvinceID)
            </div>
            <div class="col-md-4">       
                @Html.TextBox("SelectBornLSProvinceID", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.BornLSProvinceName)
                @Html.HiddenFor(model => model.BornLSProvinceID)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.BornLSDistrictID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectBornLSDistrictID", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.BornLSDistrictName)
                @Html.HiddenFor(model => model.BornLSDistrictID)
            </div>

        </div>
        <!--end row-->
    </div>
    
    <div class="group-control">
        <div>
            <h6>@Eagle.Resource.LanguageResource.NativeLocation</h6>
        </div>
        <hr />

        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.NativeCountryID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectNativeCountryID", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.NativeCountryName)
                @Html.HiddenFor(model => model.NativeCountryID)
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
            </div>

        </div>
        <!--end row-->
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.NativeProvinceID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectNativeProvinceID", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.NativeProvinceName)
                @Html.HiddenFor(model => model.NativeProvinceID)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.NativeDistrictID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectNativeDistrictID", null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.NativeDistrictName)
                @Html.HiddenFor(model => model.NativeDistrictID)
            </div>

        </div>
        <!--end row-->
    </div>
    
    <div class="group-control">
        <div>
            <h6>@Eagle.Resource.LanguageResource.EmergencyContact</h6>
        </div>
        <hr />

        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.EmergencyContact)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.EmergencyContact, new { @class = "form-control" })
            </div>
            
            <div class="col-md-2">
                @Html.LabelFor(model => model.EmergencyAddess)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.EmergencyAddess, new { @class = "form-control" })
            </div>
        </div>
        <!--end row-->
        <!--start row-->
        <div class="row">

            <div class="col-md-2">
                @Html.LabelFor(model => model.EmergencyPhone)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.EmergencyPhone, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.EmergencyMobile)
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.EmergencyMobile, new { @class = "form-control" })
            </div>
        </div>
        <!--end row-->
    </div>
</div>

