@model CandidateViewModel

<div class="tab-pane fade in" id="pane-3">
   
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSEducationID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSEducationID",null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.LSEducationName)
                @Html.HiddenFor(model => model.LSEducationID)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSQualificationID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSQualificationID",null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.LSQualificationName)
                @Html.HiddenFor(model => model.LSQualificationID)
            </div>

        </div>
        <!--end row-->
    
        <!--start row-->
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.LSMajorID)
            </div>
            <div class="col-md-4">
                @Html.TextBox("SelectLSMajorID",null, new { @class = "form-control" })
                @Html.HiddenFor(model => model.LSMajorName)
                @Html.HiddenFor(model => model.LSMajorID)
            </div>

        </div>
        <!--end row-->
</div>