@model List<TimekeepingListViewModel>


<div class="modal hide fade PopupEditTimeKeeping" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="min-width: 245px;margin-left: -340px;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@Eagle.Resource.LanguageResource.Edit</h3>
        
    </div>
    <div class="modal-body">
        @Html.Hidden("PopupEmpID")
        @Html.Hidden("PopupMMYYYY")

        <div class="table" id="popupTable">
        
        @Html.Partial("../Timesheet/Timekeeping/_PopupEditTimeKeepingFormInner")
</div>
    </div>
<div class="modal-footer">
    <input type="button" id="btnStaffCancel" class="btn" data-dismiss="modal" aria-hidden="true" value="@Eagle.Resource.LanguageResource.Close" />
    
</div>
</div>

<script>
    if (FEdit != 1) {
        $("#btnAdd").prop("disabled", true);
    } 
</script>
